!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title Sponge Cake Monster Clash
    meta(name='description', content='A framework for easily creating beautiful presentations using HTML')
    meta(name='author', content='Hakim El Hattab')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='css/reveal.min.css')
    link(rel='stylesheet', href='css/theme/default.css')
    
    
    
      
    //if lt IE 9
      script(src='lib/js/html5shiv.js')
    link(rel='stylesheet', href='css/main.css')
  body
    .reveal
      .slides
        section
          .logo
            img(src='img/logo-2x.png')
        
        section
          section
            iframe.trailer(width="1280", height="720", src="http://www.youtube.com/embed/NnWd5xoh590?rel=0&controls=0&showinfo=0", frameborder="0", allowfullscreen)

          section
            p.l But it didn't always start like 
            p the zany, sponge-cake filled game it is today
        
        section
          section
            .logo
              img(src='img/entropy.png', width='557', height='556')
          section
            h1 Entropy
            p.small Our original concept

          section
            h2 What was it?
            p Narrative-driven ARG
            p.small Extra characters
            p Puzzles and riddles to solve online
            p.small Clue trails to follow 
            p Even had an overarching narrative structure

          section
            h2 George Swinburne
            p At it again
            p.light He created some monsters
            p Three factions
            p.light Working against each other

          section
            p As a serious joke
            p.light we pitched...

        section
          section
            h1 Sponge Cake Monster Clash
            

          section
            h2 A new game
            p.light Based on the old mechanics
            p Initially it was more of a traditional ARG


          section
            h2 Characters galore
            p George Swinburne, Monash, OShare
            p.light Would hide clues and interact with players
            p Reward with game artifacts and problems to solve to further the story
            p.light Even had an overarching narrative structure

          section
            h2 But
            p We were concered that there was too much story
            p.light No-one was motivated
            p It was similar to Eden
            p.light Troy even said so
            p It was very serious

          section
            iframe.trailer(width="1280", height="720", src="http://www.youtube.com/embed/EZyeTb3f30E?rel=0&controls=0&showinfo=0", frameborder="0", allowfullscreen)
          
            
          section
            p But they weren't the least of our...

        section
          section
            h1 Problems

          section
            p.light Lots of problems

          section
            h2 Communication
            p A huge issue
            p.light Producer disappeared
            p Lost weeks of planning
            p.light Idea wasn't fully understood
            p No shared vision
            p.light Disparate teams, working in isolation
            p Little collaboration
            p.light More importantly...
          
          section
            p Old mechanics were weighing us down
            p.light And we weren't motivated enough


        section
          section
            h1 Solutions

          section
            p.small We solved most of these problems by
            p Focusing on the strengths of the concept

          section
            p The monsters.
            p.light The sponge cake.
            p The absurdity.

          section
            h2 So we changed it
            p.light Instead, our game became a
            p multi-event location-based pervasive game

          section
            h2 Focus
            p The monsters, the heart of the game,
            p.light became the central to the gameplay.

          section
            .logo
              img(src="img/envelope.png")

          section
            p Diary entries full of narrative
            p.light were instead used as promotional tools

          section
            h2 Gameplay
            p We would hold an event each week
            p.light With side-show style games
            p Get people involved
            p.l interact with the monsters

          section
            p But even once we finally had the format locked down
            p.light there were...

            

        section
          section
            h1 A few more problems

          section
            p Booking the space was a hassle
            p.light No communication
            p.light Often weren't approved to use it until the morning of
            p Limited budget
            p.l Not enough to spread evenly across the events 
            p So we chose to prioritise the finale


        section
          section
            h1 Events

          section
            p With each event we learned more
            p.l It's a shame there wasn't more time to improve

          section
            h2 First Event
            p.l Started slowly, but
            p once we moved outside and found a crowd
            p things started to look up

          section
            p Water bombs were being thrown
            p Photos were being taken
            p People were having fun
            p.l but...

          section
            h2 :(
            p We were shut down
            p.l by a delightful security man

          section
            h2 Second Event
            p Weather
            p.l We were rained out, and had no contingency plan

          section
            h2 Third Event
            p Actually good
            p.l We did some promotion
            p Hid some diary entries
            p.l And weren't shut down

          section
            h2 Monster Splash
            p We decided to play the water bomb game again
            p.l This time with targets
            p And prizes
            p.l And a crowd

          section
            p The game proved popular. Why?
            p.l A mashing of carnival games where objects are thrown at a target
            p and if hit, a clown is dunked in water
            p.l 

          section
            h2 Fourth Event
            p Shut down. 
            p.l Again.
            p And after all that organisation.
            p.l We had a cake city
            p And actual cake.







        section
          section
            h1 Participation

          section
            h2 Website
            p
              a(href='http://spongecakemonsterclash.com', target='_blank') spongecakemonsterclash.com
            p.light.push-down Check it out.

          section
            p People seemed to like it
            p.l 259 unique visitors over all
            p Spikes of traffic on the day of our event

          section
            p We didn't have much content at first
            p.l But eventually we filled in the blanks

          section
            h2 Facebook
            p We had one.
            p.l It got 25 likes.



        section
          section
            h1 Reflection

          section
            p It was the right decision to focus on the location-based stuff
            p.l We were much more motivated, and had more fun making it
            p But logistics made it very difficult to execute
            p.l particularly with our inexperience in event organisation

        section
          // Blank
          
        section
          .logo
            img(src='img/logo-2x.png')

          



    script(src='lib/js/head.min.js')
    script(src='js/reveal.min.js')
    script
      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
      controls: true,
      progress: true,
      history: true,
      center: true,
      width: 1280,
      height: 720,
      theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
      transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none
      // Optional libraries used to extend on reveal.js
      dependencies: [
      { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
      //- { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      //- { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      //- { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
      //- { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
      //- { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
      // { src: 'plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
      // { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
      ]
      });
